:host {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1001;
}

.toast {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    color: white;
    z-index: 1000;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(1rem);
    pointer-events: none;
}

.toast.hidden {
    transform: translateY(2rem);
    opacity: 0;
    pointer-events: none;
}

.toast.success {
    background-color: var(--success);
}

.toast.error {
    background-color: var(--error);
}

.toast.info {
    background-color: var(--info);
}

.close-toast {
    background: none;
    border: none;
    color: white;
    font-size: clamp(0.75rem, 2vw + 0.5rem, 1.25rem);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}