.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.admin-header h1 {
    margin: 0;
    font-size: 1.75rem;
}

.admin-actions {
    display: flex;
    gap: 0.75rem;
}

.admin-view {
    width: 100%;
}

.admin-view.hidden {
    display: none;
}

.action-icon {
    font-style: normal;
    font-size: clamp(0.5rem, 2vw + 0.5rem, 1rem);;
    border: none;
    background-color: transparent;
}